<h1 class="title">Welcome</h1>
<h2 class="title">Create your profile</h2>
<form class="register-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      formControlName="name"
      id="name"
      placeholder="Firstname Lastname"
    />
    <mat-error>{{ getError(registerForm.get("name")) }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="text"
      formControlName="email"
      id="email"
      placeholder="email@email.com"
    />
    <mat-error>{{ getError(registerForm.get("email")) }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="text"
      formControlName="password"
      id="password"
      placeholder="*****"
    />
    <mat-error>{{ getError(registerForm.get("password")) }}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [appLoad]="isLoad" name="Register" [disabled]="registerForm.invalid || isLoad">Register</button>
  <mat-error class="register-error">{{ error }}</mat-error>
</form>

<mat-hint class="register-hint">
  Already have an account?
  <button mat-button color="link" (click)="goToLogin()">
    Sign in
  </button>
</mat-hint>
