.title {
  margin: 40px;
  font-size: 30px;
  color: #3f50b5;
  text-align: center;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 500px;
  margin: auto;
  padding: 0 16px;
}

.login-error{
  text-align: center;
  padding-top: 10px;
}

.login-hint{
  text-align: center;
  display: block;
}
