/* You can add global styles to this file, and also import other style files */

$btn-primary-color: blue;

body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.btn-primary{
  background: $btn-primary-color;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  &:disabled {
    background: gainsboro;
  }
  &:hover {
    background: red;
    &:disabled {
      background: gainsboro;
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.lds-dual-ring {
  padding-top: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
